#left img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
}

#social img {
  height: 42px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 700px;
  gap: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#left {
  grid-column: 1 / 2;
}

#right {
  grid-column: 2 / 2;
}

#left, #right {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 150%;
}

div {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
  
  background-color: #333333;
  
  font-family: 'Nunito', sans-serif;
  color: #f3f3f3;
}

/* CSS for the spinner */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  background-color: #333333;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
